body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgba(255, 167, 35, .9), rgba(255, 97, 35, .3))
}

#container {
    background-image:url('https://i.pinimg.com/originals/a9/37/d4/a937d47b0d3d47df7a4faf34f3ee61f3.gif');
    background-size: 18em;

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.flex {
   /* background-image:url('https://i.pinimg.com/originals/a9/37/d4/a937d47b0d3d47df7a4faf34f3ee61f3.gif'); */
    align-items: center;
    justify-content: center;
    display: flex;
    /* background-color:grey; */
    width: 100vh;
    height: 100vh;
}

.location p {
    color: white;
    text-align: center;
    font-size: 2em;

}

.icon p{
    color: white;
    text-align: center;

}

.description p {
    color: white;
    text-align: center;
}


.tempature p {
    text-align: center;
    font-size: 6em;
    color: white;
}

.weekly-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weekly-buttons div {
    display: flex;
    justify-content: space-between;
    background-color: white;
    opacity:.5;
    width: 5vh;
    height: 5vh;
    margin: 1px
}

.weekly-buttons div p{
    font-size: 10px;
    padding-left: 2em;
}

.weekly-buttons div:hover{
    opacity: 1.0;
}

@media screen and (max-device-width: 640px) {
   
    #container {
        background-image:url('https://i.pinimg.com/originals/a9/37/d4/a937d47b0d3d47df7a4faf34f3ee61f3.gif');
        background-size: 15em;
    }


    }