body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgba(255, 167, 35, .9), rgba(255, 97, 35, .3))
}

#container {

}

.flex {
    align-items: center;
    justify-content: center;
    display: flex;
    /* background-color:grey; */
    width: 100vh;
    height: 100vh;
}

.weekly-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weekly-buttons div {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 5vh;
    height: 5vh;
    margin: 1px
}